.contact_rap {
	width: 100%;
	background: $green;
	overflow: hidden;
	padding: 3% 0 10%;

	.contact_container {
		width: 94%;
		margin: 0 3%;
		overflow: hidden;
		max-width: 1050px;

		@include respond-to(break) {
				margin: 0 auto;
			}

		.contact_left {
			@include respond-to(break) {
				width: 46%;
				float: left;
				margin: 0 4% 0 0;
			}
		}

		.contact_right {
			@include respond-to(break) {
				width: 46%;
				float: left;
				margin: 0 0 0 4%;
			}
		}

		a {
			text-decoration: none;
			font-family: $font-head;
			color: $brown;
			@include font-size(1.5);
			text-align: right;
			display: block;

			img {
				height: 30px;
				width: 30px;
				margin: 0 5px 0;
			} // img

			&:hover {
				text-decoration: underline;
			}
		} // a

		h3 {
			font-family: $font-head;
			color: $brown;
			@include font-size(2);
			padding: 20px 0;
			border-bottom: 4px solid $brown;
		} // h3

		p {
			font-family: $font-body;
		}

		.wpcf7-form {
			p {
				font-family: $font-head;
				color: $brown;
			} // p

			input, textarea {
				width: 96%;
			}
		} // wpcf7 form

		.wpcf7-response-output {
			background: #fff;
		}

		.wpcf7-not-valid-tip {
			font-family: $font-body;
		}
	} // contact container
} // contact rap