.large_container {
	@include respond-to(break) {
		@include clearfix;
		width: 100%;
		background: $green;
		overflow: $green;
		border-bottom: 1px solid #333;
	}
}

.intro_rap {
	width: 100%;
	@include center-block;
	background: url(gfx/beige_back.jpg) repeat;
	border-bottom: 1px solid #888;
	padding: 15px 0;

	@include respond-to(break) {
		float: left;
		width: 50%;
		background: $green;
		border-bottom: none;
	}

	.intro_title {
		width: 100%;
		overflow: hidden;

		.intro_title_1 {
			text-align: center;
			font-family: $font-head;
			@include font-size(2);
			@include line-height(2.2);
			color: $brown;
			text-shadow: 1px 1px 1px $green;
			font-weight: 700;
			margin-bottom: 0;

			@include respond-to(break) {
				text-align: right;
				text-shadow: 2px 2px 2px #fff;
				margin: 0 40px 0 0;
				@include font-size(3);
				@include line-height(3.2);
			}
		} // intro title 1

		.intro_title_2 {
			text-align: center;
			font-family: $font-head;
			@include font-size(2);
			@include line-height(2.2);
			color: $brown;
			text-shadow: 1px 1px 1px $green;
			font-weight: 700;
			margin-top: 0;

			@include respond-to(break) {
				text-align: right;
				text-shadow: 2px 2px 2px #fff;
				margin: 20px 40px 20px 0;
				@include font-size(3);
				@include line-height(3.2);
			}
		} // intro title 2

		p {
			font-family: $font-body;
			text-align: center;
			color: #666;
			@include font-size(0.7);
			@include line-height(0.7);
			margin: 0;
			padding: 0;

			@include respond-to(break) {
				text-align: right;
				margin: 0 50px 0 0;
			}
		} // p

		h2 {
			font-family: $font-body;
			text-align: center;
			color: #222;
			@include font-size(1.2);
			@include line-height(2.2);
			margin: 0;
			padding: 0;

			@include respond-to(break) {
				text-align: right;
				margin: 0 50px 0 0;
			}
		} // h2

		h3 {
			font-family: $font-body;
			text-align: center;
			color: #222;
			@include font-size(1);
			@include line-height(2);
			margin: 0;
			padding: 0;

			@include respond-to(break) {
				text-align: right;
				margin: 0 50px 0 0;
			}
		} // h3
	} // intro title

	.intro_text {
		width: 94%;
		margin: 3% 3% 0;
		padding: 3% 0 0;
		overflow: hidden;
		border-top: 1px solid #666;

		@include respond-to(break) {
			background: url(gfx/beige_back.jpg) repeat;
			border: 1px solid #333;
			padding: 3%;
			width: 80%;
			margin: 3% 7% 0 0;
			float: right;
			max-width: 600px;
		}

		h2 {
			font-family: $font-head;
			@include font-size(1.6);
			color: $brown;
			text-shadow: 1px 1px 1px $green;
			padding: 0;
			margin: 0;
		} // h2

		p {
			font-family: $font-body;
			@include font-size(1);
			@include line-height(1.8);
			color: #666;
			text-indent: 25px;
		} // p

		a {
			text-decoration: none;
			font-family: $font-head;
			@include font-size(1.2);
			color: #333;
			text-align: right;
			display: block;
		
			&:hover {
				color: black;
				text-decoration: underline;
			} // hover
		} // a
	} // intro text
} // intro rap