.music_rap {
	width: 100%;
	background: $green;
	padding: 3% 0;
	overflow: hidden;
	display: block;

	@include respond-to(break) {
		float: right;
		width: 50%;
	}

	.music_container {
		width: 94%;
		margin: 0 3%;
		display: block;

		@include respond-to(break) {
			float: left;
			max-width: 550px;
		}

		h2 {
			font-family: $font-head;
			@include font-size(1.5);
			padding: 0;
			margin: 0 0 10px;
			color: $brown;
		} // h2
	} // music container
} // music rap